html {
  --max-width: 1200px;
  font-size: clamp(12px, 3vw, 22px);
}

body {
  font-weight:400;
  width: 100vw;
  height: 100vh;
  display:grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  /* ensure that vertical scroll bar doesn't cause horizontal scrollbar */
  max-width:100%;
}

.section main {
  padding-bottom: 1em;
}

header, main, footer {
  width: min(var(--max-width), 90vw);
  margin: 1rem auto;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem 0;
}

footer {
  padding: 1rem;
}

.title {
  font-size: 2em;
  font-weight: 800;
}

.filters h1 {
  font-size: 1.2rem;
}

.search, .google_disp {
  margin-top:20px;
  float:right;
  font-family:Helvetica, sans;
}

.retina {
  width:0px; /* aligns funny without this, works better when no images exists too */
  transform: scale(.5, .5);
  -ms-transform: scale(.5, .5); /* IE 9 */
  -webkit-transform: scale(.5, .5); /* Safari and Chrome */
  -o-transform: scale(.5, .5); /* Opera */
  -moz-transform: scale(.5, .5); /* Firefox */
}

.cards {
  margin: 1em 0;
  display: grid;
  width: 100%;
  gap: 1rem;
}

.cards .button {
  font-size: 1.4em;
  font-weight: 700;
}

.card {
  border-radius: 6px;
  padding: 1.5rem 1.5rem;
  font-weight: inherit;
}

.card h1 {
  margin-top: 0em;
}

.opt {
  display: grid;
  grid-template-columns: 1fr auto;
}

.opt.hidden {
  display:none;
}


.opt .content {
  font-size: .8rem;
}
.opt .price {
  font-family: Georgia;
}

.span {
  grid-column: 1 / -1;
}

button {
  border-radius: 3px;
  font-weight: bold;
  padding: .4em .6em;
}

.tags {
  display: flex;
  gap: .5rem;
  margin-top: 1rem;
}

.tag {
  font-size:.6em;
  font-weight: bold;
  display: inline-block;
  border-radius: 4px;
  padding: .3rem .5rem;
}

.opt {
  font-family: sans-serif;
}

.opt h1 {
  font-size: 1.1rem;
}

.filter {
  display:block;
  margin-top:10px;
  white-space: nowrap;
}

.filters h1 {
  margin-bottom: .0em;
  line-height: .8em;
}

.filters .small {
  margin-top: 0em;
  font-size: .5em;
}

@media (min-width: 800px) {
  main {
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
  }
}
